<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>娉ㄥ唽</title>
</head>
<body style="margin: 0px auto;">
<table style="min-height: 100vh; width: 100%; border-spacing: 0px">
    <td style="padding: 10px; background: url('https://bing.img.run/1920x1080.php') no-repeat center center / cover;">
        <div class="container" style="width: 350px; margin: 0 auto; text-align: center;">
            <div class="avatar" style=" margin-top: 5px;">
                    <span
                        style="display: inline-block; padding: 12px 18px; border-radius: 999px; background-color: rgba(255, 255, 255, 0.8); color: #333333; font-weight: bold;">辰栈</span>
                </div>
            <div class="title"
                 style="margin-top: 10px; padding-top: 10px; background-color: rgba(255, 255, 255, 0.5); border-radius: 10px 10px 0 0;">
                <span style="font-weight: bold; font-size: 30px; color: #333333;">辰栈</span><br>
                <span style="font-size: 20px; color: grey">AI 辅助技术博客管理系统</span>
            </div>
            <div class="content"
                 style="font-size: 20px; padding: 10px 0; background-color: rgba(255, 255, 255, 0.5); border-radius: 0 0 10px 10px ;">
                瀹℃牳閫氱煡: <span th:text="${text}"></span>
            </div>
            <div class="button" style="width: 300px; margin: 0px auto; ">
                <div>
                    <a th:href="${frontendAdminHost}" class="goto"
                       style="display: block; margin-top: 5px; padding: 10px; font-size: 20px; text-decoration: none; border-radius: 10px;
                       background-image: linear-gradient(to right, #409eff, #69c0ff, #00ccff, #98c0e6); background-size: 200% 100%;
                                 color: white; transition: all 0.5s ease; box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.1);  ">
                        绔嬪嵆鍓嶅線绀惧尯鍚庡彴
                    </a>
                </div>
                <div style="margin-top: 15px; padding: 10px; font-size: 18px; color: #333333;">
                        项目源码整理中
                    </div>
            </div>
        </div>
    </td>
</table>
</body>
</html>
